<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth permission copied form
    [Kotlin BLE Library for Android](https://github.com/NordicSemiconductor/Kotlin-BLE-Library)
    uiscanner AndroidManifest.xml -->
    <!--
    Bluetooth permission is required on Android 4.3 - 11 in order to communicate with
    Bluetooth LE devices.
    -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <!--
     Bluetooth Admin permission is required on Android 4.3 - 11 in order to scan for
     Bluetooth LE devices.
    -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <!--
     Location permission is required from Android 6 to 11 to be able to scan for advertising
     Bluetooth LE devices. Some BLE devices, called beacons, may be used to position the phone.
     This is to ensure that the user agrees to do so.
     This app does not use this location information in any way.
     Since Android 10 ACCESS_FINE_LOCATION is required and for that, the COARSE one also needs
     to be specified.

     The Nexxtender Home/Mobile announces itself as a beacon.
     Without the ACCESS_FINE_LOCATION, beacons are not included in scanner results.
     So even in Android 12+ we ask for ACCESS_FINE_LOCATION.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
     On Android 12 new set of Bluetooth permissions were added. BLUETOOTH_SCAN permission is
     needed to scan for Bluetooth LE devices. The "never for location" flag is set, as we are not
     interested in finding the user location, and we are OK with the fact, that beacons info
     will be removed from the scan results.
    -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="s" />
    <!--
     This permission is required in order to connect to a Bluetooth LE device on Android 12
     onwards.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!--
      This permission is required in order to access the README file on GitHub
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".GaaiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gaai"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="33">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Gaai">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>