name: Android CI

on:
  push:
    branches:
      - master
      - 'feature/**'
  pull_request:
    branches:
      - master
      - 'feature/**'
  workflow_dispatch:

permissions:
  checks: write # required by PavanMudigonda/jacoco-reporter@v5.0

env:
  # The name of the keystore file
  keystoreFileName: 'keystore/gaai-release.keystore'

  # The name of the main module repository
  main_project_module: app

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      # Decodes Github secret ${{ secrets.SIGNING_STORE_FILE }} to the file ${{ env.keystoreFileName }}
      - name: Decode Keystore
        id: decode_keystore
        uses: timheuer/base64-to-file@v1
        with:
          fileName: ${{ env.keystoreFileName }}
          encodedString: ${{ secrets.SIGNING_STORE_FILE }}

      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'adopt'
          # next line commented out because of //https://github.com/gradle/actions/blob/v3.4.2/docs/setup-gradle.md#incompatibility-with-other-caching-mechanisms
          # cache: gradle

      # Make gradlew executable.
      # Also make sure that git ignores permission changes. Otherwise workspace is considered dirty.
      - name: Grant execute permission for gradlew
        run: |
          chmod +x gradlew
          git config core.filemode false

      - name: Build & bundle with Gradle
        run: ./gradlew build bundle createDebugCoverageReport
        env:
          SIGNING_STORE_FILE: ${{ steps.decode_keystore.outputs.filePath }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_STORE_PASSWORD: ${{ secrets.SIGNING_STORE_PASSWORD }}

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: "app/build/test-results/**/TEST-*.xml"
          show: "all"
        if: always()

      - name: Upload to CodeCov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true # optional (default = false)
          directory: app/build/reports/coverage/test/debug
          flags: unittests # optional
          name: codecov-umbrella # optional
          verbose: true # optional (default = false)
          token: ${{ secrets.CODECOV_TOKEN }}

      # Upload apk
      - name: Upload APK Release
        uses: actions/upload-artifact@v4
        with:
          name: Gaai APK(s) release generated
          path: ${{ env.main_project_module }}/build/outputs/apk/release/*.apk

      # Upload aab
      - name: Upload AAB Release
        uses: actions/upload-artifact@v4
        with:
          name: Gaai AAB(s) release generated
          path: ${{ env.main_project_module }}/build/outputs/bundle/release/*.aab